body{
  background-color: #cd5a91;
  padding: 20px;
}

.dashboard{
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: start;
}

.list, .form{
  background-color: #f1f2f4;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 15px 12px;
  min-width: 200px;
  margin: 0;
  position: relative;
}

.list .title{
  margin: 0px 10px 10px;
}

.add-list{
  background-color: #ffffff3d;
  min-width: 200px;
  padding: 20px;
  border-radius: 12px;
  margin: 0px;
}

.card{
  background-color: #fff;
  box-shadow: var( 0px 1px 1px #091e4240, 0px 0px 1px #091e424f);
  min-height: 24px;
  border-radius: 8px;
  padding: 8px 12px 4px;
  position: relative;
  z-index: 10;
  margin-bottom: 10px;
}

.close-list{
  position: absolute;
  right: 20px;
}